amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
click==6.7
Flask==0.12.2
Flask-PyMongo==0.5.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
MarkupSafe==1.0
pymongo==3.5.1
pytz==2017.2
redis==2.10.6
vine==1.1.4
Werkzeug==0.12.2
